# Correlation between hot weather and Covid Fatalities

#### xyz

* xyz

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/weather.csv"

# Read Purchasing File and store into Pandas data frame
weather_df = pd.read_csv(file_to_load, encoding="ISO-8859-1")
print(weather_df.shape)
weather_df.head()
weather_df.columns
weather_df

(258, 10)

,MES,T. MEDIA (°C),T. MÁX (°C),T. MÍN (°C),V. MEDIA VIENTO,RACHAS MÁX,PRESIÓN MEDIA,LLUVIA,AÑO,CIUDAD
0,1,9,16,2,11.1 km/h,61.1 km/h,1016 hPa,mm,2020,Tokyo
1,2,10,18,1,12 km/h,63 km/h,1017.8 hPa,mm,2020,Tokyo
2,3,12,21,1,15.5 km/h,87 km/h,1013.1 hPa,mm,2020,Tokyo
3,4,15,22,9,17.3 km/h,77.8 km/h,1011.7 hPa,mm,2020,Tokyo
4,5,21,27,12,15 km/h,59.3 km/h,1010.6 hPa,mm,2020,Tokyo
...,...,...,...,...,...,...,...,...,...,...
253,6,23,38,9,11.6 km/h,59.3 km/h,1015.8 hPa,mm,2020,Madrid
254,7,29,40,18,9.8 km/h,59.3 km/h,1017.3 hPa,mm,2020,Madrid
255,8,26,39,11,9.3 km/h,55.6 km/h,1016.4 hPa,mm,2020,Madrid
256,9,22,34,9,9.4 km/h,57.4 km/h,1019 hPa,mm,2020,Madrid
257,10,15,28,4,10.6 km/h,68.5 km/h,1017.7 hPa,mm,2020,Madrid

In [3]:
#Grouping by Country
weather_country = weather_df[["CIUDAD","T. MEDIA  (°C)"]].groupby("CIUDAD").sum().reset_index()
weather_country

           CIUDAD  T. MEDIA  (°C)
0         Bangkok             296
1    Buenos Aires             394
2           Cairo             235
3        Istanbul             374
4         Karachi             599
5            Lima              38
6          London             138
7          Madrid             181
8          Manila             289
9     Mexico City             405
10         Moscow              95
11         Mumbai             285
12  New York City             160
13          Seoul             302
14       Shanghai             400
15      São Paulo             443
16          Tokyo             411

In [4]:
# Dependencies
import json
import requests
from config import api_key

In [6]:
# Save config information
url = "http://history.openweathermap.org/data/2.5/history/city?"
city = "London,UK"
start = 1603195200 #Ejemplo Unix Date 20 de Octubre
end = 1603848191 #Ejemplo Unix Date 27 octubre

#http://history.openweathermap.org/data/2.5/history/city?q={city ID},{country code}&type=hour&start={start}&end={end}&appid={API key}

# Build query URL

endpoint = f"{url}&q={city}&type=hour&start={start}&end={end}&appid={api_key}"


#it doesnot matter the order of the variables

In [7]:
# Get weather data
response = requests.get(endpoint)
print(response)
response = requests.get(endpoint).json()
response
# As it can be appreciatted, because we have a free subscription we were not able to pull down historical data

<Response [401]>

{'cod': 401,
 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}